
{% extends 'base.html' %}

{%block content %}


<div class="col-md-12">
  <div class="card">
    <div class="card-header">

      <!--div class="card-tools"-->
        
        <label for="select-obrasocial">Obra Social: </label>
        <select class="form-control" id="select-obrasocial">
          {% for obrasocial in obrassociales%}
            <option value={{obrasocial.pk}}>
              {{obrasocial.abreviatura.upper}}
            </option>
          {% endfor %}
        </select>

        <label for="select-profesional">Profesional: </label>
          <select class="form-control" id="select-profesional">
            {% for profesional in profesionales %}
              <option value={{profesional.pk}}>
                {{profesional}}
              </option>
            {% endfor %}
          </select>

        <label for="select-mes">Mes: </label>
        <select class="form-control" id="select-mes">
            <option value=1>
              Enero
            </option>
            <option value=2>
              Febrero
            </option>
            <option value=3>
              Marzo
            </option>
            <option value=4>
              Abril
            </option>
            <option value=5>
              Mayo
            </option>
            <option value=6>
              Junio
            </option>
            <option value=7>
              Julio
            </option>
            <option value=8>
              Agosto
            </option>
            <option value=9>
              Septiembre
            </option>
            <option value=10>
              Octubre
            </option>
            <option value=11>
              Noviembre
            </option>
            <option value=12>
              Diciembre
            </option>
        </select>

        <label for="select-anio"> Año: </label>
          <select class="form-control" id="select-anio">
              <option value=2021>
                2021
              </option>
          </select>

        <!--button type="button" class="btn btn-default" title="Buscar!">
          <i class="fas fa-search"></i>
        </button-->
      <!--/div-->
    </div>
    <!-- /.card-header -->
    
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>



<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Turnos Otorgados</h3>

      <div class="card-tools">
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table" id="table-turnosotorgados">
        <thead>
          <tr>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>


<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Tunos Asistidos</h3>

      <div class="card-tools">
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>

<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Tunos con Entrega de Orden</h3>

      <div class="card-tools">
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>

<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Tunos con Entrega Parcial</h3>

      <div class="card-tools">
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>

{% endblock %}


{% block js_extra %}
  <script>
    $(document).ready(function () {
      //$("#select-obrasocial").select2();
    });

    function TotalTurnosOtorgados(obrasocial, profesional, mes, anio){
      $.ajax({
        type: "GET",
        url: "/estadisticaconsultatotalturnos/",
        data: {
          "obrasocial": obrasocial,
          "profesional": profesional,
          "mes": mes,
          "anio": anio,
        },
        success: function (response) {
          $("#table-turnosotorgados tbody").html('');
          var newRowContent = "<tr><td>" + response + "</td></tr>";

          $("#table-turnosotorgados tbody").append(newRowContent);

        }
      });
    }

    $("#select-obrasocial").change(function() {
      var obrasocial = $("#select-obrasocial").val();
      var profesional = $("#select-profesional").val();
      var mes = $("#select-mes").val();
      var anio = $("#select-anio").val();

      var datos = TotalTurnosOtorgados(obrasocial,profesional,mes,anio);

    });

  </script>
{% endblock %}