
{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <form action="/turnolistado" method="GET">
            <div class="form-inline">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <select class='form-control' id='select_profesional_busqueda' name='select_profesional_busqueda'>
                        {% for profesional in profesionales %}
                            <option value={{profesional.pk}}>
                                {{profesional.usuario.last_name}}, {{profesional.usuario.first_name}}
                            </option>
                            
                        {% endfor%}
                    </select>
                </div>
                <div class="col-4">
                    <!--input class="form-control" id="txtBuscar" name="txtBuscar" placeholder="Buscar...."-->
                    <button type="submit" class="btn btn-default" title="Buscar!">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>    
    </div>

    
    {{resultados.fechahora.isoformat}}
    

    <div id="calendar"></div>
{% endblock %}


{% block js_extra %}
    <script>
        $(document).ready(function () {
            var Calendar = FullCalendar.Calendar;
            var calendarEl = document.getElementById('calendar');    

            var calendar = new Calendar(calendarEl, {
                locales: 'es',
                plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid' ],
                buttonText: {
                    today: 'hoy',
                },
                events: [
                    {% for r in resultados %}
                        {
                            title: '{{r.paciente}}',
                            start: '{{r.fechahora.isoformat}}'
                        },
                    {% endfor %}
                ],  

                eventClick: function(info) {
                    var eventObj = info.event;
                    alert('Clickedddd ' + eventObj.title);
                },
            })
            calendar.render();
        });

        /*

        function FotmateaFecha(valor){
            var meses = {};
            meses.Enero = 1;
            meses.Febrero = 2;
            meses.Marzo = 3;
            meses.Abril = 4;
            meses.Mayo = 5;
            meses.Junio = 6;
            meses.Julio = 7;
            meses.Agosto = 8;
            meses.Septiembre = 9;
            meses.Octubre = 10;
            meses.Noviembre = 11;
            meses.Diciembre = 12;
            var tmp_fecha = valor.split("");
            var tmp_hora = tmp_fecha[3].split(":");
            var fecha = toString(tmp_fecha[2]) + " "
            fecha = fecha + toString(meses.tmp_fecha[1]) + " "
            fecha = fecha + 
            26 Junio 2020 08:00
        }
        */

      

    </script>

    
{% endblock %}