
{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <form action="/turnolistado" method="GET">
            <div class="form-inline">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <select class='form-control' id='select_profesional_busqueda' name='select_profesional_busqueda'>
                        {% for profesional in profesionales %}
                            <option value={{profesional.pk}}>
                                {{profesional.usuario.last_name}}, {{profesional.usuario.first_name}}
                            </option>
                            
                        {% endfor%}
                    </select>
                </div>
                <div class="col-4">
                    <!--input class="form-control" id="txtBuscar" name="txtBuscar" placeholder="Buscar...."-->
                    <button type="submit" class="btn btn-default" title="Buscar!">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>    
    </div>

    
    {{resultados.fechahora.isoformat}}
    

    <div id="calendar"></div>
{% endblock %}


{% block js_extra %}
    <script>
        $(document).ready(function () {
            var Calendar = FullCalendar.Calendar;
            var calendarEl = document.getElementById('calendar');    

            var calendar = new Calendar(calendarEl, {
                locales: 'es',
                plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid' ],
                buttonText: {
                    today: 'hoy',
                },
                events: [
                    {% for r in resultados %}
                        {
                            title: '{{r.paciente}}',
                            start: '{{r.fechahora.isoformat}}'
                        },
                    {% endfor %}
                ],  

                eventClick: function(info) {
                    var eventObj = info.event;
                    alert('Clickedddd ' + eventObj.title);
                },
            })
            calendar.render();
        });


    </script>

    
{% endblock %}