{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2>DATOS DE PACIENTES</h2>
            </div>

            <div class="col-sm-4"></div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {% if mensaje %}
                    <div class="alert alert-danger" role="alert">
                        {{mensaje}}
                    <!--button type="button" class="btn btn-link btn-sm" onclick="location.href='/pacienteobrasocialnuevo/'">
                            <i class="fas fa-pencil-alt"></i>
                    </button-->

                    <button type="button" data-toggle="modal" data-target="#modal-obrasocial" class="btn btn-link btn-sm">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    </div>
                {% endif %}

                {% if obrassociales %}
                    {% for obrasocial in obrassociales %}
                        <div class="alert alert-secondary" role="alert">
                            OBRA SOCIAL: {{obrasocial.obrasocial}} - {{obrasocial.numeroafiliado}}
                            <button type="button" class="btn btn-flat btn-sm" onclick="location.href='/pacienteobrasocialeditar/' + {{ obrasocial.pk }}">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    

        <div class="row">
            <div class="col-12">
                <hr>
                <form id="frm_datos" method="POST">{% csrf_token %}

                    {{ form.as_p}}
                  
                    <br>

                    <hr>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="IrListadoPaciente()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                    <hr>
                </form>


                <div class="modal fade" id="modal-obrasocial">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Obras Sociales</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                            <form id="form-pacienteobrasocial">
                                {{form_obrasocial.as_p}}
                            </form>

                            <table class="table table-hover" id="tabla-pacienteobrasocial">
                                <thead>
                                    <tr>
                                        <th>Obra Social</th>
                                        <th>Numero de Afiliado</th>
                                        <th>Observacion</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                        <div class="modal-footer justify-content-between">
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                <i class="fas fa-times-circle"></i>
                                Cerrar
                            </button>
                            
                            <button type="button" class="btn btn-primary" onclick="javascrit:GrabarPacienteObraSocial()">
                                <i class="fas fa-save"></i> 
                                Guardar
                            </button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>        

            </div>
        </div>


    </div>

{% endblock %}


{% block js_extra %}

    <script>

        $(document).ready(function () {
           
            $('#id_profesional_tratante').select2();

            $('#id_diagnostico').select2({
                language: {
                    inputTooShort: function() {
                        return 'Por favor ingrese 2 caracteres';
                    },
                    noResults: function() {
                        return "No se encontraron resultados";
                    },
                },
                minimumInputLength: 2,
                ajax: {
                    url: '/ajaxcatalogo/',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.text,
                                    id: item.id
                                }
                            })
                        };
                    }
                }
            });


            $('#modal-select-obra-social').select2({
                language: {
                    inputTooShort: function() {
                        return 'Por favor ingrese 2 caracteres';
                    },
                    noResults: function() {
                        return "No se encontraron resultados";
                    },
                },
                minimumInputLength: 2,
                ajax: {
                    url: '/ajaxobrasocial/',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.text,
                                    id: item.id
                                }
                            })
                        };
                    }
                }
            });

        });

        function GrabarPacienteObraSocial(){
            var str_url = window.location.href;
            str_url = str_url.split("/");
            var id_paciente = str_url.slice(-2)[0]

            var obrasocial = $("#id_obrasocial").val();
            var numeroafiliado = $("#id_numeroafiliado").val();
            var observacion = $("#id_observaciones").val();            

            var JsonObj = new Object();

            JsonObj = {
                "paciente": id_paciente,
                "obrasocial": obrasocial,
                "numeroafiliado": numeroafiliado,
                "observaciones": observacion,
            }


            $.ajax({
                type: "POST",
                url: "/ajax-grabarpacienteobrasocial/",
                data: {
                    datos: JSON.stringify(JsonObj),
                }, 
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('<tr id=' + item.id_obrasocial + '>').append(
                        $('<td>').text(item.descripcion),
                        $('<td>').text(item.numeroafiliado),
                        $('<td>').text(item.observaciones),
                        $('<td>').html('<button type="button" class="btn btn-link btn-sm"><i class="fas fa-pencil-alt"></i></button>')).appendTo('#tabla-pacienteobrasocial')
                    });
                }
            });

        }

        function IrListadoPaciente() {
            window.location.replace("/pacientelistado");
        }

        function LinmpiarTablaModal(){
            
        }

    </script>

{% endblock %}